// input[type="number"]::-webkit-inner-spin-button,
// input[type="number"]::-webkit-outer-spin-button {
// 	-webkit-appearance: none;
// 	margin: 0;
// }
.img-preview{
	background-repeat:no-repeat;
	background-size:contain;
	background-position: center;
	cursor: pointer;
}
option{
	font-size:130% !important;
}
.act-page{
	font-weight: bold;
	color: #12127c;
}